.dragClicked{
	background-image: url("./checked.png");
	background-size: auto 50%;
	background-repeat: no-repeat;
	background-position:90% center;
	color:rgba(0, 0, 0, 0.65);
    background-color:#f7f7f7;
}
.dragClick{
	background-size: auto 50%;
	background-repeat: no-repeat;
	background-position:90% center;
	position: relative;
    display: block;
    padding: 7px 8px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    transition: background 0.3s ease;
    line-height: 18px;
}
.dragClick:hover{
	background-color:#eaf7fd;
	background-image: url("./check.png");
	background-size: auto 50%;
	background-repeat: no-repeat;
	background-position:90% center;
}
.drop_parent{
    display: none;
}
.drop_parent.open{
	display: block;
}